@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');

body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Verdana", monotype;
  font-weight:400;
  line-height:1.8em;
  color:##003331;
}
.lahde
{
  font-size: 8px;
  font-family: "Arial"
}
.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('IMG_6640.jpg');
  min-height:100%;
}

.pimg2{
  background-image:url('mbckgrnd1.jpg');
  min-height:400px;
}

.pimg3{
  background-image:url('../img/image3.jpg');
  min-height:400px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#226765;
  color:#669B99;
}

.section-dark{
  background-color:#003331;
  color:#669B99;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:##003331;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:##003331;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

.ZhiMangXing
{
  font-family: 'Zhi Mang Xing', cursive;
  color: #003331
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}
