body{
  margin: 0 auto;
}
form
{
  width: 400px;
  height: 600px;
  background-color: #9575AB;
  padding: 10px;
  display: inline-block;
  left-margin: auto;
  right-margin: auto;
  text-align: left;
  margin-top: 50px;
  border: 2px solid green;
  border-radius: 5%;
}
.keskita{
  text-align: center;
}
td
{
  width: 50px;
}
.oikea
{
  text-align: right;
}
h1
{
  text-align: center;
}
