@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
body
{

}

.header
{
  padding: ;
  margin: 0% 20%;
  z-index: -1;
  background-image: url(header_pohja_1280x500px.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo
{
  position: relative;
  margin-left: 2%;
}

nav
{
  width: auto;
  height: 10%;
  padding: 30px;
  margin: 0% 20%;
  background-color: #91522B;
  text-decoration: none;
}

nav ul
{
  margin: 0 0 0 0px;

}

nav li
{
  float: left;
  list-style-type: none;
  padding: 0 0 0 20px;

}

.box
{
  margin: 1% 20%;;
}

.mainos
{
  width: 25%;
  height: 250px;
  float: left;
  border-radius: 20px;
  margin: 1% 4%;
  padding-top: ;
  background-color: #B2744D;
  text-align: center;
  font-family: 'Birthstone', cursive;
  font-size: 60px;
}

aside
{
  float: right;
  margin:  ;
}

aside article
{
  width: 390px;
  height: 600px;
  background-color: #FFE9DC;
  border-radius: 20px;
  float: right;
}

h5
{
  margin: -5px 0px;
}

.asidep
{
  font-family: verdana;
  margin: 1%;
}

section
{
  width: auto;
  height: 600px;
  background-color: ;
  border-radius: 20px;
  margin: 10% 20% 3% 20%;
}

article
{
  width: 70%;
  height: 600px;
  background-color: #FFE9DC;
  border-radius: 20px;
  float: left;

}

.articlep
{
  float: right;
  width: 60%;
  font-family: verdana;
  margin: 1%;
  
}
.articleimg
{
  position: relative;
  z-index: ;
}

footer
{
  width: auto;
  height: 10%;
  padding: 30px;
  margin: 1% 20%;
  background-color: #91522B;
}

table
{
  width: 100%
}
.vasen
{
  text-align: left;
}

.oikea
{
  text-align: right;
}
